.Footer{ 
    background: #fff;
    padding:  12px 80px;
    height: 10vh;
    position: relative;
    .addmorebtn{ 
      cursor: pointer;
      background: #9395D3;
      height: 60px; 
      width: 60px; 
      border-radius: 50%; 
      color: #fff;
      display: flex; 
      justify-content: center; 
      align-items: center;
      font-size: 32px;
      position: absolute; 
      top: - 80px; 
      left: 80%;
      a{ 
        text-decoration: none; 
        color: white;
      }
    }
}





// **************  MEDIA QUERY **************

@media screen  and (max-width:500px) {
  .Footer{ 
    padding: 12px;
  }
}